// colors
$blue-gray: #6699cc;
$alert-green: #23c552;
$warning-yellow: #b8a200;
$error-red: #ff0000;
$primary-gray: #d8d8d8;
$dark-gray: #4e4e4e;
$light-gray: #ececec;
// font weights
$regular: 400;
$bold: 700;